.footer {
    margin-top: 3rem;
    text-align: center;
    font-size: .75rem;
    padding-bottom: 2rem;

    a {
        text-decoration: none;
        border-bottom: 1px dashed var(--black);
        color: var(--black);
    }
}

