.timer {
    /* border: 1px solid #666666;
    background: #f0f0f0; */
    box-shadow: 0 0 2rem #e6e6e6;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: all ease .2s;
    display: flex;
    justify-content: space-between;
    
    &:hover {
        box-shadow: 0 0 1rem #cecece;
    }

    &__time {
        font-weight: bold;
    }
}