.timer {
    box-shadow: 0 0 2rem #e6e6e6;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: all ease .2s;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: flex-end;
    
    &:hover {
        box-shadow: 0 0 1rem #cecece;
    }

    &__time {
        font-weight: bold;
        font-size: 2.5rem;
    }

    &__controls {
        button {
            border-radius: 50%;
            padding: .5rem;
            margin-left: .5rem;
            height: 2.5rem;
        }
    }

    &__play {
        &:hover {
            background: var(--mint);
            color: var(--white);
        }
    }

    &__reset {
        &:hover {
            background-color: var(--orange);
        }
    }

    &__delete {
        position: absolute;
        top: .4rem;
        right: .5rem;
        background: none;
        padding: 0;

        &:hover {
            color: red;
            cursor: pointer;
        }

        span {
            font-size: .9rem;
        }
    }
}